body {
    font-family: Arial, sans-serif;
    direction: rtl;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    text-align: right;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
header > h1 {
    color: white;
}
.title2 {
    font-size: 1.5rem;
    font-weight: bold;
}
.title3 {
    font-size: 1.2rem;
    font-weight: bold;
}
.container {
    width: 60%;
    margin: 0 auto;
    padding: 1rem;
}

h1, h2 {
    color: #4CAF50;
}
.step {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 1rem;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.step img {
    max-width: 45%;
    border-radius: 5px;
    margin-left: 1rem;
}
.step-content {
    max-width: 50%;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #4CAF50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
a {
    color: #4CAF50;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.section h2 {
    display: flex;
    align-items: center;
}
.section h2 span.number {
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    border-radius: 50%;
    margin-left: 10px;
    font-size: 1em;
    font-weight: bold;
}

.back-to-top {
    text-align: center;
    margin-top: 20px;
    position: fixed;
    top: 20px;
    left: 20px;
    display: none;
}
.back-to-top a {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}
.quiz_image{
    height:300px;
    width:100%;
    align-items: center;
}
.calculate_score{
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

